<div class="grid grid-cols-3 w-1/2 place-items-center py-2 my-2">
  <%= link_to '', profile_path(:id => @user.id, :month=> @month - 1.month), method: :get , 
  class:"h-0 w-0 border-x-8 border-x-transparent border-b-[16px] border-b-blue-600 -rotate-90"%>
  <%= @month.strftime('%Y %B') %>
  <%= link_to '', profile_path(:id => @user.id, :month=> @month + 1.month), method: :get, 
  class:"h-0 w-0 border-x-8 border-x-transparent border-b-[16px] border-b-blue-600 rotate-90"%>
</div>

<div class="mx-auto w-full item-center grow overflow-x-auto relative">
  <table class="table-auto w-1/2 text-sm text-left text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="py-3 px-6">
          Name
        </th>
        <th scope="col" class="py-3 px-6">
          Hours worked
        </th>
      </tr>
    </thead>
    <tbody>
    <% if current_user %>
      <% @all_projects.each do | project |%>
        <tr class="g-white border-b dark:bg-gray-800 dark:border-gray-700">
          <td class="px-3 py-2"><%= project['name'] %></td>
          <td class="px-3 py-2"><%= project['working_hours'] %></td>
        </tr> 
      <% end %>
    <% end %>
    </tbody>
  </table>
</div>