<%= render partial: "all" %>

<div class="min-h-full flex items-center justify-center py-2 px-2 sm:px-6 lg:px-2 my-10" data-controller="project">
  <div class="w-1/2 space-y-8 mr-auto">     
    <%= form_with model: @project,  :html => {:"data-project-target" => 'form'}, class: 'mt-8 space-b-4', url: add_project_path do |form|%>
      <div>
        <%= form.label :project_name %><br>
        <%= form.text_field :name, class: 'appearance-none rounded-md 
                                relative block w-full 
                                px-3 py-2 border border-gray-300 
                                placeholder-gray-500 text-gray-900 
                                focus:outline-none
                                focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm' %><br>
          <% @project.errors.full_messages_for(:name).each do |message| %>
            <div><%= message %></div>
          <% end %>
      </div> 
      <div class="group cursor-pointer relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
        <%= form.submit "Add Project" ,class: 'group-hover: cursor-pointer' %>
      </div>
    <% end %>
    
    </div>
  </div>
</div>
       