<div class="log-in-form mx-auto w-1/2 space-y-8">
  <h2 class="text-2xl font-bold">Log in.</h2>
  <%= render "devise/shared/error_messages", resource: resource %>  
  <%= form_for(resource, as: resource_name, data: { turbo: false }, url: session_path(resource_name)) do |f| %>
    <div class="space-y-4">
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" ,  class:"appearance-none rounded-md 
                                        relative block w-full 
                                        px-3 py-2 border border-gray-300 
                                        placeholder-gray-500 text-gray-900 
                                        focus:outline-none
                                        focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"%>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password", class:"appearance-none rounded-md 
                                        relative block w-full 
                                        px-3 py-2 border border-gray-300 
                                        placeholder-gray-500 text-gray-900 
                                        focus:outline-none
                                        focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="group cursor-pointer relative 
                  w-full flex justify-center py-2 px-4 
                  border border-transparent text-sm 
                  font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 actions">
        <%= f.submit "Log in" %>
      </div>
    </div>
  <% end %>
  <div class="my-4 ">
    <%= render "devise/shared/links" %>
  </div>
</div>