<div class='w-1/2 mx-auto'>
  <h2 class="font-semibold text-2xl">Add work day </h2>
</div>

<%= form_with model: @work_day,
            :html => {:"data-users-target" => 'form'}, 
            class: 'mt-8 space-y-4 w-1/2 mx-auto', 
            url: work_day_path do |form|%>  
  <div class="space-y-4 grid grid-cols-2 gap-2" >
    <div class="mt-4">
      <%= form.label :Select_a_project %><br>
      <%= form.select :project_id, @projects.map { |project| [project.name, project.id]}, {include_blank: true} , {class: 'select2 w-full'} %>
    </div>
    <div>
      <%= form.label :Select_user %><br>
      <%= form.select :user_id , @users.map { |user| [user.name +  " " + user.surname, user.id]}, {include_blank: true} , {class: 'select2 w-full'} %>
    </div>

    <div>
      <%= form.label :Start_date %><br>
      <%= form.date_field :work_start, class: 'cursor-pointer w-full' %>
    </div>
    <div>
      <%= form.label :End_date %><br>
      <%= form.date_field :work_end, class: 'cursor-pointer w-full' %>
    </div> 
    <div> 
      <%= form.label :Started_at %><br>
      <%= form.time_field :started_at %>
    </div>
    <div>
      <%= form.label :Ended_at %><br>
      <%= form.time_field :end_at %>
    </div>

    <div class="group cursor-pointer relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
          <%= form.submit class: 'group-hover: cursor-pointer' %>
    </div>
  </div>
<% end %>